@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Martel:wght@700&display=swap');


body {
    font-family: 'Didact Gothic', sans-serif;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    color: #ff007f;
}

.comments, .new {
    background: #fff;
    border-radius: 8px;

}

.comment, form {
    border: none;
    background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: 2px solid #ff007f;
    transition: all 0.5s;
    margin-top: 15px;
    -webkit-box-shadow: 0px 0px 8px 2px #aaa;
    /* ff9fcf */
    box-shadow: 0px 0px 8px 2px #aaa;
}

.comment strong, form input {
    font-variant: small-caps;
    font-family: 'Martel', serif;
    color: #ff007f;
}

form input {
    width: 100%;
    border: none;
}

form input:focus, form textarea {
    border: none;
    outline: none;
}

#btn {
    display: flex;
    justify-content: right;
    flex-direction: row;
}

form button {
    outline: none;
    border: none;
    background-color: #ff007f;
    color: white;
    padding: 4px;
    border-radius: 2px;
}

.comment p, form textarea {
    color: #333;
    width: 100%;
}

form textarea {
    resize: none;
    border: none;
}

.comment p {
    padding-left: 1rem;
}