<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>
        Comente Sobre!
    </title>
    <meta charset="UTF-8" />

    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
    <link rel="stylesheet" href="/styles/style.css?v=1654463600358" />

    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet"  crossorigin="anonymous" />

</head>

<body class="bg-pink-300">
    <header th:replace="fragments/home-header.html :: header-comment"> </header>

    <h2 class="mx-3 mt-8 text-white text-2xl text-center"><i class="mx-3 lni lni-sad"></i> Ocorreu um errro!<br>Tente comentar sobre outro assunto...</h2>
    <script type="text/javascript"  th:src="@{~/js/script.js}" src="./js/script.js"></script>
</body>

</html>