<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comente Sobre</title>
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <h1>Comente Sobre</h1>
    </div>
    <form class="card" method="POST" action="/api.post" onsubmit="return validate(event);">
        <div class="card-header">
            <input type="text" name="subject" placeholder="Comente sobre..." />
        </div>
        <input type="hidden" name="email" value="" />
        <input type="hidden" name="text" value="" />
        <div class="card-footer">
            <div class="card-footer-item">
                <button>Comentar!</button>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>